* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  height: 100vh;
  font-family: Fugaz One;
  
}

img{
  width: 100vw;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.body{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  padding: 0 20%;
}

h1{
  font-size: 4rem;
  color:black;
  
}

p{
  font-size: 2.5rem;
  color: black;
  padding: 1%;
  background-color: rgba(200,200,200,0.75);
  border-radius: 2%;
}

form{
  display: flex;
  justify-content:space-evenly;
}
input{
  height: 50px;
  width: 400px;
  border-radius: 5%;
}

button{
  font-weight: 600;
}

i{
  padding: 2%;
  position: fixed;
  top: 2%;
  left: 2%;
  background-color:#eee;
  opacity: 0.75;
  transition: all ease-out 250ms;
  border-radius: 5%;
}

i:hover{
  opacity: 1;
  background-color: #fff;
}

.info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


table{
  background-color: white;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid black;
  gap: 0;

}

td,th{
  border: 1px solid black;
  padding: 0;
  min-width: 200px;
}