* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Fugaz One;
  text-align: center;
}
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gabriela/v12/qkBWXvsO6sreR8E-b8m0xLt3mQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
body {
  font-size: 14px;
  max-height: 100vh;
}

.header{
  display: inline-block;
  font-size: 3.5rem;
  color: #93734E;
}

.icons{
  display: flex;
  gap: 3rem;
  text-align: center;
  justify-content: center;
  padding: 0 0 3%;
}

.names{
  font-size: 2rem;
  font-family: Gabriela;
  padding-bottom: 3%;
}

.buttons{
  display: flex;
  justify-content: space-around;
  padding: 2% 5%;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
}

.button{
  border: 4px solid #93734E;
  padding: 0.5%;
  transition: all ease-out 250ms;
  cursor: pointer;
}

.button:hover{
  background-color: #93734E;
  transform: scale(1.15);
}

.imgs{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
img{
  width: 100%;
  height: 600px;
  object-fit: contain;
}