{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'badaonline/stylesheets/admin.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet"/>
    <title></title>
</head>

<body>
<div class="container">
    <div class="navbar">
        <a href="#" class="previous ">&#8249;</a>
        <h1 class="heading">ADMINISTRATOR</h1>

    </div>

    <div class="centerContainer">

        <div class="subheader">
            <h2 class="tickets">Display Tables for defaulters. Show user id,phone number,extra usage(usage data
                limit)</h2>
        </div>

        <div class="subheader2">
            <h2 class="tickets">Display tables for tower breakdown, show number of calls and SMS sent through
                tower </h2>
        </div>


    </div>
    <div class="btn btn-one">
        <span>SUBMIT QUERY</span>
    </div>
</div>

</body>
</html>