<!DOCTYPE html>
<html lang="en" dir="ltr">

{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'badaonline/stylesheets/employee.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet"/>
    <title></title>
</head>

<body>
<div class="container">
    <div class="navbar">
        <a href="#" class="previous ">&#8249;</a>
        <h1 class="heading">EMPLOYEE</h1>

    </div>
    <div class="centerContainer">
        <div>

            <div class="subheader">
                <button class="button">RESOLVED TICKETS</button>
            </div>
            <div class="iconContainer">
                <img src="{% static 'badaonline/images/employee_correct.png' %}" alt="" class="icons">
            </div>

        </div>

        <div>
            <div class="subheader">
                <button class="button2">UNRESOLVED TICKETS</button>
            </div>
            <div class="iconContainer">
                <img src="{% static 'badaonline/images/employee_wrong.png' %}" alt="" class="icons">
            </div>

        </div>
    </div>
</div>

</body>
</html>