{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'badaonline/stylesheets/common.css' %}">
    <link rel="stylesheet" href="{% static 'badaonline/stylesheets/sales.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet"/>
    <title></title>
</head>

<body>
<div class="container" style="display: flex; flex-direction: column; align-items: center">
    <h1 class="heading" style="margin-top: 0">SALES</h1>
    <div style="display: flex; align-items: center">
        <div class="subheader" style="display: flex; flex-direction: column; align-items: center">
            {{ data | safe }}
            <h1 class="heading" style="margin-top: 0">Top Plans</h1>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center">
            <div class="subheader" style="width: 25%">
                <h2 class="tickets">Click on the button below to modify a plan</h2>
            </div>
            <button onclick="function go_to_edit_page() {
                window.location.href='edit_plan';
            }
            go_to_edit_page()">Button
            </button>
        </div>
    </div>
</div>

</body>
</html>