{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'badaonline/stylesheets/user_edit_plan.css' %}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Gabriela&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <title>Document</title>
    </head>
    <body>
        <img src="{% static 'badaonline/images/user_edit_plan_bg.jpg' %}" alt="" />
        <h2><i class="fa-solid fa-angle-left fa-2xl"></i></h2>
        <div class="body" style="display: flex; align-items: center">
            <h1>BUY A NEW PLAN</h1>
            <p>PLEASE ENTER THE NEW PLAN YOU WISH FOR</p>
            <input type="text" id="plan_ID" placeholder=" Enter Plan ID " />
            <button style="font-size:2vw; padding: 1vw;" onclick="submit_to_server()">SUBMIT</button>
        </div>

        <script
            src="https://kit.fontawesome.com/4f701f9ce0.js"
            crossorigin="anonymous"
        ></script>

        <script type="text/javascript">
            function submit_to_server(){
                fetch('update_plan', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({'plan_ID':document.getElementById('plan_ID').value})
                })
                .then((response) => {
                    if (response.ok){
                        alert("Plan Purchased Successfully")
                    } else{
                        alert("Invalid Plan ID")
                    }
                })
            }
        </script>
    </body>
</html>
