<!DOCTYPE html>
<html lang="html">
    {% load static %}
    <head>
        <link href="{% static 'badaonline/stylesheets/main2.css' %}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Gabriela&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <title>Document</title>
    </head>
    <body>
        <img src="{% static 'badaonline/images/image3.jpg' %}" alt="" />
        <h2><i class="fa-solid fa-angle-left fa-2xl"></i></h2>
        <select name="employee" id="employee" class="te">
            <option value="Employee">Employee</option>
            <option value="Sales">Sales</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
        <div class="body">
            <h1>ENTER YOUR ID</h1>
            <p>PLEASE ENTER YOUR USER ID AND PRESS ENTER</p>
            <!-- <select name="employee" id="employee" class="te">
                <option value="Employee">Employee</option>
                <option value="Sales">Sales</option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select> -->
            <form action="index3.html">
                <div>
                    <input type="text" placeholder=" USER ID " />
                    <input type="password" value="password"/>
                    <br><br>
                    <button>SUBMIT</button>
                </div>
                <!-- <input type="text" placeholder=" USER ID " /> -->
                <!-- <br/> -->
                <!-- <input type="password" value="password"/> -->
                <!-- <button class="te">SUBMIT</button> -->
            </form>
            <!-- <button class="te">SUBMIT</button> -->
        </div>

        <script
            src="https://kit.fontawesome.com/4f701f9ce0.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
