{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'badaonline/stylesheets/main4.css' %}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Gabriela&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <title>Document</title>
    </head>
    <body>
        <img src="{% static 'badaonline/images/image7.jpg' %}" alt="" />
        <h2><i class="fa-solid fa-angle-left fa-2xl"></i></h2>
        <div class="body">
            <h1>USER STATISTICS</h1>
            <div class="info">
                <p>ENTER NEW<br />USER.ID</p>
                <table cellspacing="0">
                    <thead>
                        <th>Items</th>
                        <th>Value</th>
                    </thead>
                    <tr>
                        <td>Plan ID</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>l minutes</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>s minutes</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>i minutes</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Calls</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SMS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>start time</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <script
            src="https://kit.fontawesome.com/4f701f9ce0.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
